# Ignore Python-specific files
__pycache__/
*.pyc

# Ignore virtual environment
venv/

# Ignore porject-specific files
config.py
/output/

# This ensures that the files mentioned above are hidden from my github pushes as they contain sensitive information.